black==26.3.0
click==8.3.1
colorama==0.4.6
glcontext==3.0.0
imgui-bundle==7.6.1
markdown-it-py==4.0.0
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
mypy_extensions==1.1.0
numpy==2.4.2
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.9.4
pygame==2.6.1
pyglet==2.1.13
pyglm==2.8.3
Pygments==2.19.2
pytokens==0.4.1
rich==14.3.3
